body {
    background:rgb(250, 4, 4) ;
   text-align: center;
}

.principal {
background:orange;
color: yellow;
text-align: center;
padding: 100px;
font-family: "Roboto", sans-serif;
margin: 20px;
}

.segunda {
    background: rgb(0, 97, 146);
color: rgb(0, 255, 183);
text-align: end;
padding: 200px 50px 200px 50px;
font-family: "Oswald", sans-serif;
margin: 50px 100px;
}

.tercera {
background: rgb(127, 0, 185);
color:rgb(255, 4, 205) ;
text-align: left;
padding: 25px 100px 200px 50px;
    font-family: "Roboto", sans-serif;
margin: 25px 50px 200px 100px;
}


  